@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

br {
	line-height: 6em;
}

.blocky-block {
	display: flex;
	margin: 0;
	width: 100vw;
	height: 100vh;
  	min-height:100vh;
	align-items: center;
	justify-content: center;
}

html > body .blocky-block {
	height: auto;
}

.text-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.info-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.projects-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.skills-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.text {
	margin: 0;
	font-size: 4.5em;
}

@media (max-width: 925px) {
	.text {
		margin: 0;
		font-size: 4em;
	}
}

@media (max-width: 750px) {
	.text {
		margin: 0;
		font-size: 3.5em;
	}
}

@media (max-width: 500px) {
	.text {
		margin: 0;
		font-size: 3em;
	}
}

.text-wrapper {
	width: 80%;
}

.projects-list {
	font-size: 2em;
}

.text-wrapper > p {
	font-family: 'Inconsolata', monospace;
	font-size: 1.2em;
}

.text-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.divider > br {
	line-height: 4em;
}

@media (max-width: 1050px) {
	.text-columns {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.divider {
		display: none;
	}

	.projects-block {
		font-family: 'Share Tech Mono', monospace;
		background-color: #F9F9F9;
	}
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

.shaky {
	display: inline-block;
}


.underlined {
	color: black;
	flex: 1;
	line-height: 1.2;
	text-decoration: none;
	background-image: url("https://media.giphy.com/media/Pp9W9tuVF5NwQ/giphy.gif");
	background-position: 0 1.2em;
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: background .5s;
  }
  .underlined:hover {
	background-size: 100% 100%;
  }
  .underlined--thick {
	background-position: 0 -0.1em;
  }
