@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	margin: 0;
	padding: 0;
	background-color: #424B54;
}

br {
	line-height: 6em;
}

.blocky-block {
	display: flex;
	margin: 0;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.text-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.info-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9;
}

.projects-block {
	font-family: 'Share Tech Mono', monospace;
	background-color: #F9F9F9
}

.text {
	margin: 0;
	font-size: 4.5em;
}

.text-wrapper {
	width: 80%;
}

.projects-list {
	font-size: 2em;
}

.bold {
	font-weight: 900;
}
.text-wrapper > p {
	font-family: 'Inconsolata', monospace;
	font-size: 1.2em;
}

.text-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.divider > br {
	line-height: 4em;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

.shaky {
	display: inline-block;
}


.underlined {
	color: black;
	flex: 1;
	line-height: 1.2;
	text-decoration: none;
	background-image: linear-gradient(to right, yellow 0, yellow 100%);
	background-position: 0 1.2em;
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: background .5s;
  }
  .underlined:hover {
	background-size: 100% 100%;
  }
  .underlined--thin {
	background-image: linear-gradient(to right, black 0, black 100%);
  }
  .underlined--thick {
	background-position: 0 -0.1em;
  }
  .underlined--offset {
	background-position: 0 0.2em;
	box-shadow: inset 0 -.5em 0 0 white;
  }
  .underlined--gradient {
	background-position: 0 -0.1em;
	background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }
  .underlined--reverse {
	background-position: 100% -0.1em;
	transition: background 1s;
	background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }